In [1]:
import pandas as pd
import numpy as np

file_Pune = 'pune_from2002_games.xlsx'
file_Brisbane = 'brisbane_from2002_games.xlsx'
file_Doha = 'doha_from2002_games.xlsx'
file_Sidney = 'sydney_from2002_games.xlsx'
file_Auckland = 'auckland_from2002_games.xlsx'
file_Sofia = 'sofia_from2002_games.xlsx'
file_Montpellier = 'montpellier_from2002_games.xlsx'
file_NewYork = 'newyork_from2002_games.xlsx'
file_Rotterdam = 'rotterdam_from2002_games.xlsx'
file_Delray = 'delray_from2002_games.xlsx'
file_Marsiglia = 'marseille_from2002_games.xlsx'
file_Acapulco = 'acapulco_from2002_games.xlsx'
file_Dubai = 'dubai_from2002_games.xlsx'
file_IndianWells = 'indianwells_from2002_games.xlsx'
file_Miami = 'miami_from2002_games.xlsx'
file_Atlanta = 'atlanta_from2002_games.xlsx'
file_Washington = 'washington_from2002_games.xlsx'
file_LosCabos = 'loscabos_from2002_games.xlsx'
file_Montreal = 'montreal_from2002_games.xlsx'
file_Cincinnati = 'cincinnati_from2002_games.xlsx'
file_WinstonSalem = 'winstonsalem_from2002_games.xlsx'
file_Metz = 'metz_from2002_games.xlsx'
file_SanPietroburgo = 'sanpietroburgo_from2002_games.xlsx'
file_Zhuhai = 'zhuhai_from2002_games.xlsx'
file_Chengdu = 'chengdu_from2002_games.xlsx'
file_Tokyo = 'tokyo_from2002_games.xlsx'
file_Pechino = 'pechino_from2002_games.xlsx'
file_Shanghai = 'shanghai_from2002_games.xlsx'
file_Stoccolma = 'stoccolma_from2002_games.xlsx'
file_Antwerp = 'antwerp_from2002_games.xlsx'
file_Mosca = 'mosca_from2002_games.xlsx'
file_Basilea = 'basel_from2002_games.xlsx'
file_Vienna = 'vienna_from2002_games.xlsx'
file_Parigi = 'parigi_from2002_games.xlsx'

In [2]:
lista_file_aggiunti = [file_Pune, file_Brisbane, file_Doha, file_Sidney, file_Auckland,
                       file_Sofia, file_Montpellier, file_NewYork,
                       file_Rotterdam, file_Delray, file_Marsiglia, file_Acapulco,
                       file_Dubai, file_IndianWells, file_Miami, file_Atlanta, file_Washington,
                       file_LosCabos, file_Montreal, file_Cincinnati, file_WinstonSalem,
                       file_Metz, file_SanPietroburgo, file_Zhuhai, file_Chengdu, file_Tokyo,
                       file_Pechino, file_Shanghai, file_Stoccolma, file_Antwerp, file_Mosca,
                       file_Basilea, file_Vienna, file_Parigi ]

lista_dataframes = []

for f in lista_file_aggiunti:
    data_agg = pd.read_excel( f )
    data_agg = pd.DataFrame( data_agg )
    lista_dataframes.append( data_agg )
    
data_totale = pd.concat( lista_dataframes )
data_totale

,Unnamed: 0,PARTITE,set_p1,set_p2,games_1_set1,games_1_set2,games_1_set3,games_2_set1,games_2_set2,games_2_set3,segno
0,0,F_SIMON_ANDERSON_3_PUNE_2018_HARD,2,0,7,6,,64,2,,1
1,1,SF_ANDERSON_PAIRE_3_PUNE_2018_HARD,2,1,66,7,6,7,62,1,1
2,2,SF_SIMON_CILIC_3_PUNE_2018_HARD,2,1,1,6,6,6,3,2,1
3,3,QRT_PAIRE_HAASE_3_PUNE_2018_HARD,2,1,7,2,6,5,6,3,1
4,4,QRT_ANDERSON_KUKUSHKIN_3_PUNE_2018_HARD,2,1,63,6,6,7,4,2,1
...,...,...,...,...,...,...,...,...,...,...,...
565,280,OTT_GOMBOS_CARRENO_3_PARIGI_2020_HARD_,0,2,5,2,,7,6,,2
566,281,OTT_CILIC_HUMBERT_3_PARIGI_2020_HARD_,1,2,3,7,3,6,64,6,2
567,282,OTT_GIRON_RAONIC_3_PARIGI_2020_HARD_,0,2,61,2,,7,6,,2
568,283,OTT_DeMINAUR_MEDVEDEV_3_PARIGI_2020_HARD_,1,2,7,2,2,5,6,6,2
569,284,OTT_FOKINA_SCHWARTZMAN_3_PARIGI_2020_HARD_,0,2,1,1,,6,6,,2

In [3]:
unicode = []
conto = -1
for idx, v in enumerate ( data_totale.PARTITE ):
    conto = conto+1
    unicode.append( conto )

data_totale['unicode'] = unicode 
data_totale = data_totale.set_index("unicode")
data_totale = data_totale.iloc[:,1:]
data_totale

,PARTITE,set_p1,set_p2,games_1_set1,games_1_set2,games_1_set3,games_2_set1,games_2_set2,games_2_set3,segno
unicode,,,,,,,,,,
0,F_SIMON_ANDERSON_3_PUNE_2018_HARD,2,0,7,6,,64,2,,1
1,SF_ANDERSON_PAIRE_3_PUNE_2018_HARD,2,1,66,7,6,7,62,1,1
2,SF_SIMON_CILIC_3_PUNE_2018_HARD,2,1,1,6,6,6,3,2,1
3,QRT_PAIRE_HAASE_3_PUNE_2018_HARD,2,1,7,2,6,5,6,3,1
4,QRT_ANDERSON_KUKUSHKIN_3_PUNE_2018_HARD,2,1,63,6,6,7,4,2,1
...,...,...,...,...,...,...,...,...,...,...
14365,OTT_GOMBOS_CARRENO_3_PARIGI_2020_HARD_,0,2,5,2,,7,6,,2
14366,OTT_CILIC_HUMBERT_3_PARIGI_2020_HARD_,1,2,3,7,3,6,64,6,2
14367,OTT_GIRON_RAONIC_3_PARIGI_2020_HARD_,0,2,61,2,,7,6,,2
14368,OTT_DeMINAUR_MEDVEDEV_3_PARIGI_2020_HARD_,1,2,7,2,2,5,6,6,2
14369,OTT_FOKINA_SCHWARTZMAN_3_PARIGI_2020_HARD_,0,2,1,1,,6,6,,2

In [4]:
data_totale_meno_dubbie = data_totale
data_totale_meno_dubbie

,PARTITE,set_p1,set_p2,games_1_set1,games_1_set2,games_1_set3,games_2_set1,games_2_set2,games_2_set3,segno
unicode,,,,,,,,,,
0,F_SIMON_ANDERSON_3_PUNE_2018_HARD,2,0,7,6,,64,2,,1
1,SF_ANDERSON_PAIRE_3_PUNE_2018_HARD,2,1,66,7,6,7,62,1,1
2,SF_SIMON_CILIC_3_PUNE_2018_HARD,2,1,1,6,6,6,3,2,1
3,QRT_PAIRE_HAASE_3_PUNE_2018_HARD,2,1,7,2,6,5,6,3,1
4,QRT_ANDERSON_KUKUSHKIN_3_PUNE_2018_HARD,2,1,63,6,6,7,4,2,1
...,...,...,...,...,...,...,...,...,...,...
14365,OTT_GOMBOS_CARRENO_3_PARIGI_2020_HARD_,0,2,5,2,,7,6,,2
14366,OTT_CILIC_HUMBERT_3_PARIGI_2020_HARD_,1,2,3,7,3,6,64,6,2
14367,OTT_GIRON_RAONIC_3_PARIGI_2020_HARD_,0,2,61,2,,7,6,,2
14368,OTT_DeMINAUR_MEDVEDEV_3_PARIGI_2020_HARD_,1,2,7,2,2,5,6,6,2
14369,OTT_FOKINA_SCHWARTZMAN_3_PARIGI_2020_HARD_,0,2,1,1,,6,6,,2

In [5]:
data_totale_meno_dubbie.to_excel("data_totale_meno_dubbie_games.xlsx")

In [6]:
lista_posti = []
for v in data_totale_meno_dubbie.PARTITE:
    s = v.split("_")[4]
    lista_posti.append( s )
    
lista_posti = pd.Series( lista_posti )
print( lista_posti.unique() )

['PUNE' 'BRISBANE' 'DOHA' 'SYDNEY' 'AUCKLAND' 'SOFIA' 'MONTPELLIER'
 'NewYORK' 'ROTTERDAM' 'DELRAY' 'MARSEILLE' 'ACAPULCO' 'DUBAI'
 'IndianWELLS' 'MIAMI' 'ATLANTA' 'WASHINGTON' 'LosCABOS' 'MONTREAL'
 'CINCINNATI' 'WinstonSALEM' 'METZ' 'SanPIETROBURGO' 'ZHUHAI' 'CHENGDU'
 'TOKYO' 'PECHINO' 'SHANGHAI' 'STOCCOLMA' 'ANTWERP' 'MOSCA' 'BASEL'
 'VIENNA' 'PARIGI']