In [1]:
import pandas as pd
import numpy as np

file_MonteCarlo = 'montecarlo_from2002.xlsx'
file_Barcelona = 'barcelona_from2002.xlsx'
file_Madrid = 'madrid_from2002.xlsx'
file_Rome = 'rome_from2002.xlsx'

In [2]:
lista_file_aggiunti = [file_MonteCarlo, file_Barcelona,
                       file_Madrid, file_Rome]

lista_dataframes = []

for f in lista_file_aggiunti:
    data_agg = pd.read_excel( f )
    data_agg = pd.DataFrame( data_agg )
    lista_dataframes.append( data_agg )
    
data_totale = pd.concat( lista_dataframes )
data_totale

,Unnamed: 0,PARTITE,set_p1,set_p2,games_1_set1,games_1_set2,games_1_set3,games_2_set1,games_2_set2,games_2_set3,segno
0,0,F_FERRERO_MOYA_3_MonteCARLO_2002_CLAY,3,0,7,6,6,5,3,4,1
1,1,SF_MOYA_HENMAN_3_MonteCARLO_2002_CLAY,2,1,6,5,6,4,7,3,1
2,2,SF_FERRERO_GROSJEAN_3_MonteCARLO_2002_CLAY,2,1,6,1,6,3,6,0,1
3,3,QRT_MOYA_SAFIN_3_MonteCARLO_2002_CLAY,2,1,6,2,7,1,6,6,1
4,4,QRT_HENMAN_JOHANSSON_3_MonteCARLO_2002_CLAY,2,1,2,6,7,6,4,6,1
...,...,...,...,...,...,...,...,...,...,...,...
595,295,OTT_ALIASSIME_DELBONIS_3_ROME_2021_CLAY_,0,2,63,1,,7,6,,2
596,296,OTT_SHAPOVALOV_NADAL_3_ROME_2021_CLAY_,1,2,6,4,63,3,6,7,2
597,297,OTT_BERRETTINI_TSITSIPAS_3_ROME_2021_CLAY_,0,2,63,2,,7,6,,2
598,298,OTT_FOKINA_DJOKOVIC_3_ROME_2021_CLAY_,0,2,2,1,,6,6,,2
599,299,OTT_KARATSEV_OPELKA_3_ROME_2021_CLAY_,0,2,66,4,,7,6,,2

In [3]:
unicode = []
conto = -1
for idx, v in enumerate ( data_totale.PARTITE ):
    conto = conto+1
    unicode.append( conto )

data_totale['unicode'] = unicode 
data_totale = data_totale.set_index("unicode")
data_totale = data_totale.iloc[:,1:]
data_totale

,PARTITE,set_p1,set_p2,games_1_set1,games_1_set2,games_1_set3,games_2_set1,games_2_set2,games_2_set3,segno
unicode,,,,,,,,,,
0,F_FERRERO_MOYA_3_MonteCARLO_2002_CLAY,3,0,7,6,6,5,3,4,1
1,SF_MOYA_HENMAN_3_MonteCARLO_2002_CLAY,2,1,6,5,6,4,7,3,1
2,SF_FERRERO_GROSJEAN_3_MonteCARLO_2002_CLAY,2,1,6,1,6,3,6,0,1
3,QRT_MOYA_SAFIN_3_MonteCARLO_2002_CLAY,2,1,6,2,7,1,6,6,1
4,QRT_HENMAN_JOHANSSON_3_MonteCARLO_2002_CLAY,2,1,2,6,7,6,4,6,1
...,...,...,...,...,...,...,...,...,...,...
2305,OTT_ALIASSIME_DELBONIS_3_ROME_2021_CLAY_,0,2,63,1,,7,6,,2
2306,OTT_SHAPOVALOV_NADAL_3_ROME_2021_CLAY_,1,2,6,4,63,3,6,7,2
2307,OTT_BERRETTINI_TSITSIPAS_3_ROME_2021_CLAY_,0,2,63,2,,7,6,,2
2308,OTT_FOKINA_DJOKOVIC_3_ROME_2021_CLAY_,0,2,2,1,,6,6,,2
2309,OTT_KARATSEV_OPELKA_3_ROME_2021_CLAY_,0,2,66,4,,7,6,,2

In [4]:
data_totale_meno_dubbie = data_totale
data_totale_meno_dubbie

,PARTITE,set_p1,set_p2,games_1_set1,games_1_set2,games_1_set3,games_2_set1,games_2_set2,games_2_set3,segno
unicode,,,,,,,,,,
0,F_FERRERO_MOYA_3_MonteCARLO_2002_CLAY,3,0,7,6,6,5,3,4,1
1,SF_MOYA_HENMAN_3_MonteCARLO_2002_CLAY,2,1,6,5,6,4,7,3,1
2,SF_FERRERO_GROSJEAN_3_MonteCARLO_2002_CLAY,2,1,6,1,6,3,6,0,1
3,QRT_MOYA_SAFIN_3_MonteCARLO_2002_CLAY,2,1,6,2,7,1,6,6,1
4,QRT_HENMAN_JOHANSSON_3_MonteCARLO_2002_CLAY,2,1,2,6,7,6,4,6,1
...,...,...,...,...,...,...,...,...,...,...
2305,OTT_ALIASSIME_DELBONIS_3_ROME_2021_CLAY_,0,2,63,1,,7,6,,2
2306,OTT_SHAPOVALOV_NADAL_3_ROME_2021_CLAY_,1,2,6,4,63,3,6,7,2
2307,OTT_BERRETTINI_TSITSIPAS_3_ROME_2021_CLAY_,0,2,63,2,,7,6,,2
2308,OTT_FOKINA_DJOKOVIC_3_ROME_2021_CLAY_,0,2,2,1,,6,6,,2
2309,OTT_KARATSEV_OPELKA_3_ROME_2021_CLAY_,0,2,66,4,,7,6,,2

In [5]:
data_totale_meno_dubbie.to_excel("data_totale_CLAY.xlsx")

In [6]:
lista_posti = []
for v in data_totale_meno_dubbie.PARTITE:
    s = v.split("_")[4]
    lista_posti.append( s )
    
lista_posti = pd.Series( lista_posti )
print( lista_posti.unique() )

['MonteCARLO' 'BARCELONA' 'MADRID' 'ROME']